.page {
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(15, 15, 15));
  height: 120vh;
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out, movestars 2s infinite ease-in;
  z-index: -1;
}

@keyframes twinkle {
  100%,
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes movestars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(90vh);
  }
}

