.heading {
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 300px;
}

.sub-title {
  margin: 0px;
  color: red;
  text-align: center;
  font-size: 50px;
}

.title {
  background: linear-gradient(90deg, #000000, #4c4141);
  margin-left: 80px;
  margin-right: 80px;
  justify-content: center;
  display: flex;
  border: 10px, solid, red;
  margin-top: 0px;
  color: red;
  text-align: center;
  flex-wrap: wrap;
  box-shadow: 6px 8px 18px 4px rgb(255 255 255);
}

.nav__links {
  list-style: none;
  justify-items: flex-end;
}

.nav__link {
  font-size: 24px;
  color: red;
}

.nav__info {
  padding-right: 20px;
  flex-direction: column;
  display: flex;
  font-size: 24px;
  color: red;
}

@media screen and (max-width: 640px) {
  .nav__links {
    max-width: 295px;
  }
}
